@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/fondo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #d4af37;
  font-family: 'IM Fell English SC', serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}

.boss-group h2 {
  font-size: 2.5rem;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
}

.nav-links {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #d4af37;
  font-family: 'IM Fell English SC', serif;
}

.navbar a {
  color: #d4af37;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffcc00;
  text-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon svg {
  fill: #d4af37;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.user-icon:hover svg {
  fill: #ffcc00;
  filter: drop-shadow(0 0 8px rgba(255, 204, 0, 0.9));
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  width: 450px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 20px;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, transparent 80%);
  pointer-events: none;
  transition: height 0.6s ease, background 0.6s ease;
}

.card:hover::after {
  height: 40px;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.8) 0%, transparent 80%);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.9);
}

.card img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.card-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  transition: background 0.6s ease-in-out, height 0.6s ease-in-out;
  z-index: 1;
}

.card:hover .card-overlay {
  height: 250px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.card-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  text-align: center;
  z-index: 2;
  transition: transform 0.6s ease-in-out;
}

.card-info h3 {
  margin: 0;
  font-size: 30px;
  color: #d4af37;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  transform: translateY(10px);
  transition: transform 0.6s ease-in-out, font-size 0.6s ease-in-out;
}

.card:hover .card-info h3 {
  transform: translateY(0);
  font-size: 31px;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  color: #d4af37;
  cursor: pointer;
  z-index: 9999;
  padding: 0.2em 0.3em;
}

.arrow-left {
  left: 10%;
}

.arrow-right {
  right: 10%;
}

.modal-content {
  background-color: #222;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #d4af37;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  color: #d4af37;
  font-family: 'IM Fell English SC', serif;
  position: relative;
  transform: scale(0.8);
  transition: transform 0.8s ease;
}

.modal.active .modal-content {
  transform: scale(1);
}

.close-button {
  position: absolute;
  top: 3px;
  right: 10px;
  color: #d4af37;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #ffcc00;
}

#boss-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

#boss-details th,
#boss-details td {
  padding: 8px;
  text-align: center;
  border: 1px solid #d4af37;
}

#boss-details th {
  background-color: #333;
  font-size: 20px;
}

.boss-detail {
  animation: fadeInScale 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.boss-detail-img {
  width: 100%;
  max-width: 1500px;
  max-height: 650px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.boss-detail-info {
  text-align: left;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  padding-left: 10px;
}

.boss-detail-info h2 {
  margin-top: 0;
  font-size: 36px;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 10px;
  text-align: center;
}

.boss-detail-info ul, 
.boss-detail-info li, 
.boss-detail-info p {
  font-size: 20px;
  line-height: 1.5;
  color: #F7E7CE;
}

.boss-detail-info .move-name {
  font-size: 22px;
  color: #d4af37;
}

.section-divider {
  border: 0;
  border-top: 1px solid #d4af37;
  margin: 20px 0;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInScale {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}
@keyframes slideInRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}
@keyframes slideInLeft {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}
@keyframes slideOutLeft {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

.slide-out-right {
  animation: slideOutRight 0.5s forwards;
}
@keyframes slideOutRight {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(100%); opacity: 0; }
}

.weapon-detail {
  padding: 20px;
  color: #ddd;
  background: rgba(0,0,0,0.7);
}

.weapon-detail h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: gold;
}

.weapon-description blockquote {
  font-style: italic;
  border-left: 3px solid gold;
  margin: 10px 0;
  padding-left: 10px;
}

.upgrade-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.upgrade-table th,
.upgrade-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #d4af37;
  color: #F7E7CE;
}

.upgrade-table th {
  background-color: #333;
  font-size: 20px;
  color: #d4af37;
}